// grant all code all permissions - for security sensitive
// rmi applications, this is an insecure policy file

grant { 
	permission java.security.AllPermission;
};
