<?xml version="1.0" encoding="Cp1251"?>
 <beans>
  <bean id="root" name="Система криптографической защиты" class="net.soft_systems.integrator.TopicBean">
   <child-beans>
    <bean id="structure" name="Статическая модель" class="net.soft_systems.crypto.beans.structure.StructureGroupBean">
     <child-beans>
      <bean id="structure-diagram" name="Диаграмма статической модели" class="net.soft_systems.crypto.beans.structure.StructureBean">
       <child-beans/>
      </bean>
      <bean id="resources" name="Защищаемая область O" class="net.soft_systems.crypto.beans.structure.ResourceGroupBean">
       <child-beans>
        <bean id="O1" name="O1" class="net.soft_systems.crypto.beans.structure.ResourceBean" x="25.0" y="25.0"/>
       </child-beans>
      </bean>
      <bean id="subjects" name="Субъекты S" class="net.soft_systems.crypto.beans.structure.SubjectGroupBean">
       <child-beans/>
      </bean>
      <bean id="threats" name="Область угроз T" class="net.soft_systems.crypto.beans.structure.ThreatGroupBean">
       <child-beans/>
      </bean>
      <bean id="protections" name="Системные защиты M" class="net.soft_systems.crypto.beans.structure.ProtectionGroupBean">
       <child-beans/>
      </bean>
      <bean id="boundaries" name="Набор барьеров B" class="net.soft_systems.crypto.beans.structure.BoundaryGroupBean">
       <child-beans/>
      </bean>
      <bean id="vulnerabilities" name="Множество уязвимостей V" class="net.soft_systems.crypto.beans.structure.VulnerabilityGroupBean">
       <child-beans/>
      </bean>
      <bean id="relations" name="Связи" class="net.soft_systems.crypto.beans.structure.RelationGroupBean">
       <child-beans/>
      </bean>
     </child-beans>
    </bean>
    <bean id="policies" name="Политика безопасности" class="net.soft_systems.crypto.beans.policy.PolicyGroupBean">
     <child-beans>
      <bean id="rights" name="Множество прав доступа" class="net.soft_systems.crypto.beans.policy.RightGroupBean">
       <child-beans/>
      </bean>
     </child-beans>
    </bean>
    <bean id="realization" name="Динамическая модель" class="net.soft_systems.integrator.TopicBean">
     <child-beans>
      <bean id="process-diagram" name="Диаграмма взаимодействия процессов" class="net.soft_systems.crypto.beans.process.ProcessDiagramBean">
       <child-beans/>
      </bean>
      <bean id="processes" name="Процессы системы" class="net.soft_systems.crypto.beans.process.ProcessGroupBean">
       <child-beans>
        <bean id="P1" name="P1 / Ресурс O1" class="net.soft_systems.crypto.beans.process.ProcessBean" x="0.0" y="0.0" resource="O1" auto-create="false">
         <vars>         </vars>
         <child-beans>
          <bean id="nodes" name="Узлы процесса" class="net.soft_systems.crypto.beans.process.NodeGroupBean">
           <child-beans/>
          </bean>
          <bean id="methods" name="Методы процесса" class="net.soft_systems.crypto.beans.process.MethodGroupBean">
           <child-beans>
            <bean id="onCreate" name="onCreate" class="net.soft_systems.crypto.beans.process.MethodBean">            </bean>
            <bean id="onDestroy" name="onDestroy" class="net.soft_systems.crypto.beans.process.MethodBean">            </bean>
            <bean id="onRecieve" name="onRecieve" class="net.soft_systems.crypto.beans.process.MethodBean">            </bean>
           </child-beans>
          </bean>
         </child-beans>
        </bean>
       </child-beans>
      </bean>
      <bean id="channels" name="Каналы передачи данных" class="net.soft_systems.crypto.beans.process.ChannelGroupBean">
       <child-beans/>
      </bean>
     </child-beans>
    </bean>
    <bean id="modelling" name="Моделирование" class="net.soft_systems.integrator.TopicBean">
     <child-beans>
      <bean id="messages" name="Сообщения" class="net.soft_systems.crypto.beans.model.MessageGroupBean"/>
     </child-beans>
    </bean>
    <bean id="config" name="Настройки среды" class="net.soft_systems.crypto.beans.ConfigGroupBean">
     <child-beans>
      <bean id="avail-policies" name="Модели политики безопасности" class="net.soft_systems.integrator.TopicBean">
       <child-beans>
        <bean id="Дискреционная модель Харрисона-Руззо-Ульмана" name="Дискреционная модель Харрисона-Руззо-Ульмана" class="net.soft_systems.crypto.beans.policy.ClassRefBean" class-ref="net.soft_systems.crypto.beans.policy.HRUPolicy"/>
       </child-beans>
      </bean>
     </child-beans>
    </bean>
   </child-beans>
  </bean>
 </beans>
